# Telegram Mini App
BOT_TOKEN=
NEXT_PUBLIC_APP_URL=https://app.example.com
NEXT_PUBLIC_BOT_USERNAME=YourBotUsername

# Browser fallback login
TELEGRAM_CLIENT_ID=
TELEGRAM_CLIENT_SECRET=
NEXTAUTH_SECRET=
NEXTAUTH_URL=https://app.example.com
